@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'Cormorant Garamond';
  src: url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
}

* {
  box-sizing: border-box;
}

html {
  max-width: 100vw;
}



main {
  margin-top: 80px;
}

.topnav {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255);
  z-index: 1000;
  display: none;

}

caption {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;

}

.mobile-menu ul {
  font-size: 1.6rem;
}

.mobile-nav {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.close-icon {
  position: absolute;
  top: 25px;
  left: 20px;
  font-size: 1.8rem;
}

.mobile-menu img {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 40px;
  height: 40px;

}

.non-scrollable {
  overflow: hidden;
  /* Prevent scrolling when the mobile menu is open */

}

/* Show the mobile menu when the menu is toggled */
.show-mobile-menu {
  display: block;

}



.header-top {
  display: flex;
  align-items: center;
  padding: 10px;
  /* Adjust padding as needed */
}

.left-section {
  flex: 0 0 auto;
  /* Ensures the left section doesn't grow or shrink */
}

.center-section {
  flex: 1;
  /* Allows the center section to grow and take remaining space */
  text-align: center;
  /* Center the h1 element */
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  /* Adjust as needed */
  z-index: 1000;
  /* Ensure the navbar appears above other content */
  /* Add other styling properties as needed */
  box-sizing: border-box;
}

fieldset {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  border-style: dashed;

}

legend {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}


form {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

label {
  font-weight: bold;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

input,
textarea {
  border-radius: 5px;
}

.mysubmitbutton {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: rgb(207, 207, 207);
  border: none;
  border-radius: 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
}



.about-sarah-j-maas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-sarah-j-maas .info {
  text-align: justify;
}

.about-sarah-j-maas p {
  text-align: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}


.about-sarah-j-maas a {
  text-align: center;
  text-decoration: none;
  color: #007bff;
}

.about-sarah-j-maas img {
  width: 100%;
  height: auto;
}










.mobile-nav {
  font-size: 1.4rem;
  text-align: left;

}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav ul li {
  text-align: left;
  margin-bottom: 10px;
}

.mobile-nav ul li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px;
}


.mobile-nav ul ul {
  display: block;
  padding-left: 40px;
  list-style: circle;
}

.mobile-nav ul ul li {
  margin-bottom: 5px;
}

.mobile-nav ul ul li a {
  color: black;
}

















img {
  max-width: 90%;
  height: auto;

}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

video {
  width: 100%;
}

.audiobook {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.audiobook img {
  position: relative;
  height: 12rem;
  border-radius: 2rem;
}


audio {
  margin: auto;
  display: flex;
  justify-self: start;
}

.audiobook button {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: rgb(207, 207, 207);
  border: none;
  border-radius: 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1rem;
  margin-bottom: 1.2rem;

}




/*obecne styly*/
.menu-icon {
  display: block;
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 10px;
}



html {
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
}

h2,
h3 {
  margin-top: 10px;
  text-align: center;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: #333;
  margin: 0;
}


p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


footer * {
  text-align: center;
}

/*header*/

.navbar {
  display: flex;
  left: 0;
  right: 0;
}

header {
  /* font-family: "Cormorant Garamond", serif; */
  font-weight: 500;
  font-style: normal;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  position: relative;

}

.center-section a {
  text-decoration: none;
  color: black;

}

header h1 {
  margin: 0;

}


/*home.html */

.new-release img {
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.new-release {
  background-image: url("../assets/fog-background.jpg");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(100px);
  padding: 1.3rem;
  font-size: 1.1rem;

}

.new-release p {
  font-size: 1rem;
}




.new-release h2,
.new-release p {
  color: #c55928;
  text-align: center;
}

.only-you-can-decide {
  background-color: #f9d2de;
  padding: 1.3rem;

}

.only-you-can-decide p,
.only-you-can-decide a {
  text-align: center;
  font-size: 1.4rem;
  padding: 10px;
  display: block;


}

.only-you-can-decide h2 {
  margin-top: 10%;
  font-size: 1.7rem;
}


table {
  width: 100%;
  margin-left: 0;
  border-collapse: collapse;
  border: 1px solid #000;
  /* Add border for mobile */
}

th,
td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #000;
  font-size: 1rem;
}

th[colspan="2"] {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

.table-container .series-list {
  width: 100%;
  font-size: 1.2rem;
}


/*crescent.html*/
.series-overview {
  padding-top: 50px;
}

.series-overview.crescent {
  background-color: #346175;
}

.series-overview.acotar {
  background-color: #cb5e7f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.series-overview img {
  animation: fadeIn 1s;
}

.series-overview p {
  animation: fadeIn 1s;

}

.series-overview.tog {
  background-color: #8c1438;
}

.new-release img,
.new-release h2,
.new-release p {
  animation: fadeIn 1s;

}

.only-you-can-decide h2,
.only-you-can-decide p,
.only-you-can-decide a {
  animation: fadeIn 1s;
}


.series-overview p {
  color: black;
  /* font-family: "Cormorant Garamond", serif; */
  font-weight: 350;
  font-style: italic;
  padding: 10px;
  text-align: center;
  margin-bottom: 0;
}

.series-overview img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


}



.tog p {
  color: #fff;
}


.series-books {
  padding-top: 15px;
  /* font-family: "Cormorant Garamond", serif; */
  font-weight: 500;
  font-style: normal;
  text-align: center;

}

.background.crescent {
  background-color: #b4d8e7;

}

.background.acotar {
  background-color: #f9d2de;

}

.background {
  padding-top: 2rem;
}

.background h2 {
  margin-top: 0;
  padding-top: 1rem;
  font-size: 2rem;
}


.background.tog {
  background-color: #18587a;
  color: #fff;
}

.series-books img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.characters {
  padding-bottom: 2rem;
  font-size: 1.2rem;
  display: flex;
  padding-left: 0;
  flex-direction: column;
  align-items: center;

}

.links a {
  color: #5197f4;
}


.links a:visited {
  color: blueviolet;
}


@media (min-width: 600px) {

  .topnav {
    display: block;
    font-size: 1.4rem;
  }

  .menu li.current {
    text-decoration: underline;
  }

  body,
  ul {
    margin: 0;
    padding: 0;
  }

  header {
    padding: 10px 20px;
    text-align: center;
  }

  header h1 {
    font-size: 4rem;
    margin: 0;
  }

  #navbar {
    padding: 10px 20px;
  }

  #navbar.sticky {
    top: -20px;
  }

  .header-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-icon {
    width: 30px;
    cursor: pointer;
  }

  .topnav ul.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topnav ul.menu li {
    position: relative;
    padding: 10px
  }

  .topnav ul.menu li a {
    text-decoration: none;
    display: block;
    color: #000;
  }

  .topnav ul.menu li ul.dropdown {
    display: none;
    position: absolute;
    padding: 10px;
    top: 100%;
    left: 0;
    width: 200px;

  }

  .topnav ul.menu li:hover ul.dropdown {
    display: block;
    background-color: #fff;
    border: #333;
    cursor: context-menu;
  }

  .topnav ul.menu li ul.dropdown li {
    margin: 5px 0;
  }

  .topnav ul.menu li ul.dropdown li a {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    color: #000;
  }

  .home-flexbox {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .about-sarah-j-maas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
  }

  .bio {
    width: 50%;
    float: left;
    padding: 1.2rem;
  }

  .about-sarah-j-maas img {
    width: 50%;
    height: auto;
    float: left;
  }


  .new-release {
    width: 50%;
    height: auto;
  }

  .only-you-can-decide {
    width: 50%;
    height: inherit;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
  }

  .img-and-caption {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    width: 30%;
  }


  .series-overview {
    padding-bottom: 50px;
  }

  .series-overview img {
    width: 20%;

  }

  .series-overview p {
    font-size: 1.6rem;
    padding-left: 25%;
    padding-right: 25%;
  }

  .series-books img:hover {
    transform: scale(1.05, 1.05);
  }


  form {
    width: 50%;
  }



  .menu-icon {
    display: none;
  }

  .table-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;

  }


  table {
    width: 80%;
    border-collapse: collapse;

  }

  .table-container .series-list {
    padding: 2rem;
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .table-container h2 {
    margin-top: 2rem;
  }

  table caption {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
  }

  th,
  td {
    padding: 1rem;
    border: 1px solid #ddd;
    font-size: 1.4rem;
  }

  th[colspan="2"] {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
  }


  .series-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
  }

  .series-books img {
    margin: 10px;
    display: flex;

  }


  h1 {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 10px;
  }

  main {
    margin-top: 155px;
  }


  /* svg {
    width: 1.2rem;
  } */

  .new-release {
    font-size: 1.6rem;
  }

  .new-release p {
    font-size: 1.3rem;
  }

  video {
    width: 70%;
  }

  .video-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 0;
    padding-top: 2rem;
  }

  .extras {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }

  .audiobook {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
  }

  .audiobook img {
    height: 20rem;
  }

  .audiobook button {
    margin-bottom: 0;
  }

  .characters {
    font-size: 1.5rem;
    margin: 1rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .characters li {
    list-style-type: circle;
  }

  .characters li ul {
    margin: 2rem;
  }

  .characters li li {
    list-style-type: square;

  }

  .dropdown li {
    list-style: none;
  }


}